scipy==1.11.1
numpy==1.24.3
Pillow==9.4.0
streamlit==1.29.0
tensorflow==2.15.0
matplotlib==3.7.2
plotly==5.9.0
pandas==2.0.3
pydot==2.0.0
pydotplus==2.0.2
graphviz==0.20.1
tensorflow_intel==0.0.1